<div class="web-home-layout">
  <div class="web-home-mobile-header" style="{{headerCover ? 'background-image: url(\'' + headerCover + '\');' : ''}}"></div>

  <rv-require name="pl-scrolls" src="/public/vendor/plumes/scrolls/pl-scrolls"></rv-require>
  <div class="pl-scrolls">

    {{#inject web-home-layout-before /}}

    <div
      class="header-bg"
      style="{{headerTop !== 0 ? 'transform: translateY(' + headerTop + 'px);' : ''}} {{headerCover ? 'background-image: url(\'' + headerCover + '\');' : ''}}"
    >
      {{#if headerCopyright}}
        <a href="{{headerCopyrightUrl}}">{{headerCopyright}}</a>
      {{/if}}
    </div>

    <h1 style="transform: translateY({{h1Top}}px);">{{_('Hello')}} {{user.firstname || _('visitor')}}.</h1>

    <div class="web-home-metrics">
      {{#metrics}}
        <div class="web-home-metric {{show ? 'show' : ''}} {{hasOldValue ? 'light' : ''}}">
          <div class="shape-shadow"></div><div class="shape" title="{{value}}">{{formatMetric(value)}}</div>
          <span>{{_(title)}}</span>
        </div>
      {{/metrics}}

      <div class="clear"></div>
    </div>

    <div class="web-home-content">
      {{#if !welcome}}
        <div class="web-home-tile web-home-welcome {{welcomeShow ? 'show' : ''}} {{welcomeHide ? 'hide' : ''}}">
          <h2>{{_('Welcome')}}</h2>
          <div class="web-home-welcome-border"></div>
          <p>
            {{_('Here is your HOME app. Any content opened will be referenced here for easy access.')}}<br />
            {{_('On the top corners are buttons to open and close various contexts linked to the content and the platform.')}}<br />
            {{_('To switch from an app to another, or to go back to the index of the app, click on the app selector on the platform top center.')}}
          </p>
          <div class="web-home-welcome-button">
            <button on-click="welcomeGetIt">{{_('Got it')}}</button>
          </div>
        </div>
      {{/if}}

      {{#tiles}}
        <a href="{{url}}"
          class="web-home-tile {{show ? 'show' : ''}} {{large ? 'large' : ''}}"
          style="{{large || !cover ? '' : 'background-image: url(\'' + cover + '\');'}}"
        >
          {{#if large}}
            <div
              class="web-home-tile-cover"
              style="
                {{cover ? 'background-image: url(\'' + cover + '\');' : ''}}
                animation-name: web-home-tile-cover-{{animationNumber}};
                animation-duration: {{animationDuration}}s;
              "
            ></div>
          {{/if}}


          {{#if details}}
            <div class="details">
              {{#if details.title}}
                <h2>{{_(details.title)}}</h2>
              {{/if}}
              {{#if details.text}}
                <p>{{_(details.text)}}</p>
              {{/if}}
            </div>
          {{/if}}
          {{#if centered}}
            <div class="centered">
              {{#if centered.title}}
                <h2>{{_(centered.title)}}</h2>
              {{/if}}
            </div>
          {{/if}}
        </a>
      {{/tiles}}

      <div class="clear"></div>
    </div>
  </div>
</div>
